* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

.console {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: #c20000;
    border: 1px solid #000000;
    border-radius: 6px;
    max-height: 720px;
    max-width: 600px;
    margin: 40px auto auto;
}

.title {
    margin-top: 6px;
    color: #ffd700;
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
}

#grid {
    display: grid;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    margin-bottom: 25px;
}

.cell {
    background-color: #c8c8c8;
    opacity: 1;
}
.controls {
    border-radius: 8px;
    background-color: #8d0000;
    margin-bottom: 30px;
    height: 100px;
    width: 500px;
}

.controls-top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 50px;
}

.controls-bottom {
    display: flex;
    align-items: center;
    height: 50px;
}

.btn{
    background-color: #690000;
    border: 1px solid #4b0000;
    border-radius: 8px;
    color: #ffd700;
    font-size: 16px;
    height: 40px;
    width: 110px;
    margin: 0px 3px;
}

.btn:hover {
    background-color: #4b0000;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.btn:active {
    background-color: #3d0000;
}

.custom-btn {
    padding-right: 0px;
}

#custom-color {
    width: 18px;
    height: 18px;
}

.pixel-size {
    color: #ffd700;
    font-size: 16px;
    text-align: center;
    width: 100px;
    margin-left: 17px;
}

#slider {
    width: 350px;
    margin-left: 20px;
}

.signature {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    display: block;
    text-decoration: none;
    color: black;
}

.signature:hover,
.code-link:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.gh-logo {
    height: 28px;
    position: relative;
    top: 4px;
}

.code-link {
    margin: 0 auto;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #5c5c5c;
}